{{ form_start(form, { attr: { class: "form" } }) }}
{% for field in form %} {% if field.vars.name != '_token' %}
<div class="form-group">
    {{ form_label(field) }}
    {{ form_widget(field) }}
</div>
{% endif %} {% endfor %}
<button class="{{ button_class|default('btn') }}">
    {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}
