{% extends 'admin/dashboard.html.twig' %} {% block title %}Order{% endblock %}
{% block main_content %}
<link rel="stylesheet" href="{{ asset('styles/admin/show.css') }}" />

<div class="show-wrapper">
    <div class="show-container">
        <div class="show-header">
            <h1>Order Details</h1>
        </div>

        <div class="show-body">
            <div class="show-details">
                <table class="show-table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ order.id }}</td>
                        </tr>
                        <tr>
                            <th>OrderDate</th>
                            <td>
                                {{ order.orderDate ? order.orderDate|date('Y-m-d') : '' }}
                            </td>
                        </tr>
                        <tr>
                            <th>TotalAmount</th>
                            <td>{{ order.totalAmount }}</td>
                        </tr>
                        <tr>
                            <th>PaymentMethod</th>
                            <td>{{ order.paymentMethod.value }}</td>
                        </tr>
                        <tr>
                            <th>PaymentStatus</th>
                            <td>{{ order.paymentStatus.value }}</td>
                        </tr>
                        <tr>
                            <th>OrderStatus</th>
                            <td>{{ order.orderStatus.value }}</td>
                        </tr>
                        <tr>
                            <th>RewardPointsEarned</th>
                            <td>{{ order.rewardPointsEarned }}</td>
                        </tr>
                        <tr>
                            <th>CreatedAt</th>
                            <td>
                                {{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}
                            </td>
                        </tr>
                        <tr>
                            <th>UpdatedAt</th>
                            <td>
                                {{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="actions">
            <a href="{{ path('app_admin_order_index') }}">Back</a>
            <a href="{{ path('app_admin_order_edit', { id: order.id }) }}"
                >Edit</a
            >
            {{ include("admin/order/_delete_form.html.twig") }}
        </div>
    </div>
</div>
{% endblock %}
