{{ form_start(form, { attr: { class: "form" } }) }}
<div class="form-group">
    {{ form_label(form.productName) }}
    {{ form_widget(form.productName) }}
</div>

<div class="form-group">
    {{ form_label(form.category) }}
    {{ form_widget(form.category) }}
</div>

<div class="form-group">
    {{ form_label(form.material) }}
    {{ form_widget(form.material) }}
</div>

<div class="form-group">
    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}
</div>

<div class="form-group">
    {{ form_label(form.size) }}
    {{ form_widget(form.size) }}
</div>

<div class="form-group">
    {{ form_label(form.color) }}
    {{ form_widget(form.color) }}
</div>

<div class="form-group">
    {{ form_label(form.qrTag) }}
    {{ form_widget(form.qrTag) }}
</div>

<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
</div>

<div class="form-group">
    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}
</div>

<div class="form-group">
    {{ form_label(form.ecoCertified) }}
    {{ form_widget(form.ecoCertified) }}
</div>

<button class="{{ button_class }}">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
