{% extends 'base.html.twig' %} {% block title %}Product index{% endblock %} {%
block body %}
<link rel="stylesheet" href="{{ asset('styles/admin/form.css') }}" />
<div class="content-wrapper">
    <div class="content-container">
        <div class="content-header">
            <h1>Product</h1>
        </div>
        <div class="table-responsive">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Material</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Eco Information</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.material }}</td>
                        <td>{{ product.size }}</td>
                        <td>{{ product.color }}</td>
                        <td>PHP {{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.ecoInfo }}</td>
                        <td>{{ product.image }}</td>
                        <td class="table-actions">
                            <a
                                href="{{
                                    path('app_product_show', { id: product.id })
                                }}"
                                class="btn-action btn-show"
                                >Show</a
                            >
                            <a
                                href="{{
                                    path('app_cart_add', { id: product.id })
                                }}"
                                class="btn-action btn-add"
                                >Add to Cart</a
                            >
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="actions">
            <a href="{{ path('app_home') }}">BACK</a>
        </div>
    </div>
</div>
{% endblock %}
