{% form_theme form 'form/error_theme.html.twig' %}

{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
        {{ form_label(form.product, 'Related Product', {'label_attr': {'class': 'font-semibold block mb-1 text-brand'}}) }}
        {{ form_widget(form.product, {
            'attr': {
                'placeholder': 'Select product',
                'class': 'w-full p-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-green'
            }
        }) }}
        {{ form_errors(form.product) }}
    </div>

    <div>
        {{ form_label(form.qrCodeValue, 'QR Code Value', {'label_attr': {'class': 'font-semibold block mb-1 text-brand'}}) }}
        {{ form_widget(form.qrCodeValue, {
            'attr': {
                'class': 'w-full h-10 p-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-green'
            }
        }) }}
        {{ form_errors(form.qrCodeValue) }}
    </div>

    {# Date Generated #}
    <div>
        {{ form_label(form.dateGenerated, 'Date Generated', {'label_attr': {'class': 'font-semibold block mb-1 text-brand'}}) }}
        {{ form_widget(form.dateGenerated, {
            'attr': {
                'placeholder': 'Automatically set on creation',
                'type': 'date',
                'class': 'w-full p-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-green'
            }
        }) }}
        {{ form_errors(form.dateGenerated) }}
    </div>

    {# QR Image Path #}
    <div>
        {{ form_label(form.qrImagePath, 'QR Image Path', {'label_attr': {'class': 'font-semibold block mb-1 text-brand'}}) }}
        {{ form_widget(form.qrImagePath, {
            'attr': {
                'placeholder': 'Generated after saving',
                'class': 'w-full p-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-green'
            }
        }) }}
        {{ form_errors(form.qrImagePath) }}
    </div>
</div>

<div class="mt-6 flex justify-end gap-3">
    <button type="submit"
            class="px-4 py-2 bg-success text-white rounded-xl hover:bg-success-hover transition">
        {{ button_label|default('Save') }}
    </button>

    <a href="{{ path('app_qrTag_index') }}"
        class="px-4 py-2 border border-gray-300 text-sm font-medium rounded-xl text-brand hover:bg-gray-200 transition">
        Cancel
    </a>
</div>

{{ form_end(form) }}
