<!DOCTYPE html>
<html lang="en">
    <head>
        {{ encore_entry_link_tags('app') }}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}MIFANIA Dashboard{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body id="dashboard-layout" class="dashboard-bg min-h-screen">
        <!-- Main Application Container -->
        <div class="flex min-h-screen">
            <!-- Sidebar -->
            <aside
                id="sidebar"
                class="w-20 lg:w-64 bg-white shadow-xl p-2 lg:p-4 flex flex-col fixed min-h-screen h-full top-0 z-20 lg:sticky lg:flex-shrink-0 border-r border-gray-100 transition-all duration-300 ease-in-out dark:bg-gray-900 dark:border-gray-800"
            >
                <div class="flex items-center space-x-2 pb-6 border-b border-gray-100 dark:border-gray-800">
                    <img
                        src="{{ asset('images/logo.svg') }}"
                        alt="Logo"
                        class="hidden lg:block h-12"
                    />

                    <img src="{{ asset('images/symbol.svg') }}"
                        alt="Logo"
                        class="block lg:hidden h-8"
                    />
                </div>

                <nav class="flex-grow pt-6 space-y-2">
                    <twig:SidebarLink
                        path="{{ path('app_admin') }}"
                        isActive="{{ app.request.attributes.get('_route') == 'app_admin' }}"
                        label="Dashboard"
                        svgPath="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                    />

                    <twig:SidebarDropdown
                        label="Products"
                        icon="M5 4h14M5 4v12a2 2 0 002 2h10a2 2 0 002-2V4M5 4l7 7 7-7"
                        :items="[
                            {
                                label: 'All Products',
                                params: {},
                                route: 'app_admin_product_index',
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_product_'
                            },
                            {
                                label: 'Categories',
                                params: {},
                                route: 'app_admin_category_index',
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_category_'
                            },
                            {
                                label: 'Stocks',
                                params: {},
                                route: 'app_admin_stock_index',
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_stock_'
                            },
                            {
                                label: 'QR Codes',
                                params: {},
                                route: 'app_admin_qrtag_index',
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_qrtag_'
                            }
                        ]"
                    />

                    <twig:SidebarDropdown
                        label="Orders"
                        icon="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"
                        :items="[
                            {
                                label: 'All Orders',
                                route: 'app_admin_order_index',
                                params: {},
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_order_' and app.request.query.get('status') is null
                            },
                            {
                                label: 'Pending',
                                route: 'app_admin_order_index',
                                params: {'status': 'pending'},
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_order_' and app.request.query.get('status') == 'pending'
                            },
                            {
                                label: 'Completed',
                                route: 'app_admin_order_index',
                                params: {'status': 'completed'},
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_stock_' and app.request.query.get('status') == 'Completed'
                            },
                            {
                                label: 'Cancelled',
                                route: 'app_admin_order_index',
                                params: {'status': 'cancelled'},
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_order_' and app.request.query.get('status') == 'Cancelled'
                            }
                        ]"
                    />

                    <twig:SidebarDropdown
                        label="Customers"
                        icon="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                        :items="[
                            {
                                label: 'All Customers',
                                route: 'app_admin_customer_index',
                                params: {},
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_customer_' and app.request.query.get('status') is null
                            },
                            {
                                label: 'Customer Profiles',
                                route: 'app_admin_customer_search',
                                params: {},
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_customer_search'
                            },
                            {
                                label: 'Purchase History',
                                route: 'app_admin_customer_index',
                                params: {},
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_customer_' and app.request.query.get('status') is null
                            },
                            {
                                label: 'Wallet',
                                route: 'app_admin_customer_index',
                                params: {},
                                isActive: app.request.attributes.get('_route') starts with 'app_admin_customer_' and app.request.query.get('status') is null
                            }
                        ]"
                    />
                </nav>
            </aside>

            <div class="min-h-screen flex-1">
                <header
                    class="flex flex-col md:flex-row items-center justify-end bg-white p-4 shadow-sm mb-1 sticky top-0 z-10 dark:bg-gray-800 dark:shadow-2xl"
                >
                    <div class="flex items-center space-x-4 mt-3 md:mt-0">
                            <!-- Dark Mode Toggle Button -->
                            <button
                                x-data="{ isDark: document.documentElement.classList.contains('dark') }"
                                @click="window.toggleTheme(); isDark = !isDark"
                                class="p-2 rounded-full text-gray-500 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 transition duration-150"
                                aria-label="Toggle Dark/Light Mode"
                            >
                                <!-- Sun Icon (Show in Light Mode) -->
                                <svg x-cloak x-show="!isDark" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path>
                                </svg>
                                <!-- Moon Icon (Show in Dark Mode) -->
                                <svg x-cloak x-show="isDark" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
                                </svg>
                            </button>
                            <!-- Existing Notification Button -->
                            <button
                                class="relative p-3 rounded-full text-gray-500 border border-gray-200 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 transition duration-150"
                            >
                                <twig:icon d="M15 17h5l-1.405-1.405A2.032
                                        2.032 0 0118 14.158V11a6.002 6.002 0
                                        00-4-5.659V5a2 2 0 10-4
                                        0v.341C7.67 6.165 6 8.388 6
                                        11v3.159c0 .538-.214
                                        1.055-.595 1.436L4 17h5m6
                                        0v1a3 3 0 11-6 0v-1"
                                        class="w-6 h-6"
                                />
                                <span
                                    class="absolute top-0.75 right-0.75 block h-2 w-2 rounded-full ring-2 ring-white dark:ring-gray-800 bg-red-500"
                                ></span>
                            </button>
                        <div class="flex items-center space-x-2 cursor-pointer" x-data="{ open: false }">
                            {% if app.user.admin %}
                                <img
                                    src="{{ asset('uploads/admin/avatars/' ~ app.user.admin.avatar) }}"
                                    class="w-10 h-10 rounded-full object-cover border-2 border-mocha"
                                    alt="User Profile"
                                />
                            {% else %}
                                <div>
                                    <span>{{ app.user.admin.firstName | first }}</span>
                                </div>
                            {% endif %}

                            <span class="text-mocha font-medium hidden sm:block dark:text-gray-300">
                                {{ app.user.admin.firstName ~ ' ' ~ app.user.admin.lastName }}
                            </span>
                            <a
                                href="#"
                                @click.prevent="open = !open"
                                class="p-2 rounded-lg hover:bg-cream transition dark:hover:bg-gray-700">
                                    <svg
                                        class="w-4 h-4 text-gray-400 hidden sm:block"
                                        fill="none"
                                        stroke="currentColor"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M19 9l-7 7-7-7"
                                        ></path>
                                    </svg>
                            </a>
                            {% include "components/modal/user_dropdown.html.twig" %}
                        </div>
                    </div>
                </header>
                {% block main_content %}{% endblock %}
            </div>
        </div>
        {% include 'components/modal/modal_flash.html.twig' %}
        {% include 'components/modal/logout_confirmation.html.twig' %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
            <script src="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
            <script src="{{ asset('js/admin_dashboard.js') }}"></script>
            <script src="{{ asset('js/theme_mode.js') }}"></script>
            {# <script>
                document.addEventListener('turbo:load', () => {
                    window.Alpine?.start();
                });
            </script> #}
        {% endblock %}
    </body>
</html>
