{% extends 'base.html.twig' %} {% block title %}Order{% endblock %} {% block
body %}
<h1>Order</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th>OrderDate</th>
            <td>{{ order.orderDate ? order.orderDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>TotalAmount</th>
            <td>{{ order.totalAmount }}</td>
        </tr>
        <tr>
            <th>PaymentMethod</th>
            <td>{{ order.paymentMethod }}</td>
        </tr>
        <tr>
            <th>PaymentStatus</th>
            <td>{{ order.paymentStatus }}</td>
        </tr>
        <tr>
            <th>OrderStatus</th>
            <td>{{ order.orderStatus }}</td>
        </tr>
        <tr>
            <th>RewardPointsEarned</th>
            <td>{{ order.rewardPointsEarned }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>
                {{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}
            </td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>
                {{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}
            </td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_order_index') }}">back to list</a>

<a href="{{ path('app_order_edit', { id: order.id }) }}">edit</a>
{% endblock %}
