{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block main_content %}
<div class="bg-cream mx-auto px-28 py-8">
    <div class="flex align-center justify-center mb-8">
        <h1 class="text-4xl font-bold text-mocha mb-2">My Account</h1>
    </div>

    <div class="flex flex-col lg:flex-row gap-8">
        {# Left Sidebar Navigation #}
        <aside class="lg:w-1/4 bg-white p-6 rounded-lg shadow-md">
            <nav>
                <ul>
                    <li class="mb-2">
                        <twig:ALink
                        path="{{ path('app_account') }}"
                        isActive="{{ app.request.attributes.get('_route') == 'app_account' }}"
                        class="font-semibold"
                        label="Profile Information"
                        />
                    </li>
                    <li class="mb-2">
                        <twig:ALink
                        path="{{ path('app_account_wallet') }}"
                        isActive="{{ app.request.attributes.get('_route') == 'app_account_wallet' }}"
                        class="font-semibold"
                        label="My Wallet"
                        />
                    </li>
                    <li class="mb-2">
                        <a href="{{ path('app_order_index') }}" class="block px-4 py-3 text-mocha font-semibold rounded-md hover:bg-cream transition">My Orders</a>
                    </li>
                    {# <li class="mb-2">
                        <a href="#" class="block px-4 py-3 text-mocha font-semibold rounded-md hover:bg-cream transition">Manage Address</a>
                    </li> #}
                    {# <li class="mb-2">
                        <a href="#" class="block px-4 py-3 text-mocha font-semibold rounded-md hover:bg-cream transition">Payment Method</a>
                    </li> #}
                    <li class="mb-2">
                        <twig:ALink
                        path="{{ path('app_account_password') }}"
                        isActive="{{ app.request.attributes.get('_route') == 'app_account_password' }}"
                        class="font-semibold"
                        label="Password Manager"
                        />
                    </li>
                </ul>
            </nav>
        </aside>
        {% block account_content %}{% endblock %}
    </div>
</div>
{% endblock %}
