<div x-data="{ open: {{ items|filter(i => i.isActive)|length > 0 ? 'true' : 'false' }} }" class="relative">
    <button @click="open = !open"
            class="w-full flex justify-between items-center px-5 py-3 rounded-md focus:outline-none {{ items|filter(i => i.isActive)|length > 0 ? 'bg-mocha text-cream' : 'text-mocha hover:bg-cream hover:text-mocha'}}">
        <twig:icon d="{{ icon }}" class="w-5 h-5"/>
        <span>{{ label }}</span>
        <svg :class="{ 'transform rotate-180': open }"
            class="w-4 h-4 transition-transform"
            fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7"/>
        </svg>
    </button>

    <ul x-show="open" x-transition class="mt-2 space-y-1 pl-4">
        {% for item in items %}
            <li>
                <a href="{{ path(item.route, item.params) }}"
                    class="flex items-center gap-x-4 px-5 py-3 rounded-lg text-sm font-medium transition-all
                        {{ item.isActive ? 'bg-mocha-300 text-cream' : 'text-mocha hover:bg-cream hover:text-mocha' }}">
                    {{ item.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
